body  {
    background-color: black;

}



header  {
      display: flex;
      align-items: center;
      position: fixed;
      z-index: 20;
      width: 1212px;
      height: 69px;
      background-color: black;
      border-bottom: 1px solid seashell;
      font-family: Helvetica;
      font-size: 22px;
      color: white;
      opacity: 0.9;
  }

.logo  {
      display: flex;
      align-items: center;
      flex-grow: 1;
      padding-left: 30px;
  }

.logo img  {
      padding-left: 10px;
      height: 50px;
      margin-right: 12px;
}

 a  {
    color: white;
}

nav span  {
     display: inline-block;
     padding: 20px 10px;
}



.banner  {
    display: block;
    position: absolute;
    z-index: 20;
    height: 140px;
    width: 1212px;
    background-color: black;
    margin-top: 300px;
    text-align: center;
    font-family: Helvetica;
    font-size: 22px;
    color: white;
}



.top-image  {
    position: relative;
    height: auto;
    width: auto;
    z-index: 15;
    margin: 12px;
}


.tea-month  {
   display: block;
   width: 1200px;
   height: auto;
   overflow: hidden;
   background-color: black;
   font-family: Helvetica;
   font-size: 22px;
   text-align: center;
   color: white;
   margin: 12px;
}

.teas  {
   display: inline-flex;
   flex-wrap: wrap;
   justify-content: center;
   text-align: center;
   align-items: center;
   height: auto;
   width: 1200px;
   background-color: black;
   font-family: Helvetica;
   font-size: 22px;
   color: white;
   margin: 12px;

 }


.teas img {
    padding: 5px;
    height: 200px;
    width: 300px;
    text-align: center;

}

.locations  {
    display: block;
    position: relative;
    text-align: center;
    height: 500px;
    max-width: 1200px;
    background-image: url(./img-locations-background.jpg);
    background-repeat: no-repeat;
    font-family: Helvetica;
    color: white;
    font-size: 22px;
    margin: 12px;

}

.downtown  {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 300px;
    height: auto;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 22px;
    padding: 10px;


}


.eastbay  {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 300px;
    height: auto;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 22px;
    padding: 10px;

}

.oakdale  {
   display: inline-flex;
   justify-content: center;
   flex-direction: column;
   align-content: center;
   width: 300px;
   height: auto;
   text-align: center;
   color: white;
   background-color: black;
   font-size: 22px;
   padding: 10px;

}


.cozy  {
   display: block;
   text-align: center;
   width: 1200px;
   height:200px;
   color: white;
   font-family: helvetica;
   font-size: 22px;
   padding: 20px;

}

.copy  {
    display: block;
    text-align: left;
    font-family: helvetica;
    font-size: 22px;
    margin: 20px;
    color: white;
  }
